.navigation-item {
  position: relative;
  font-size: 1.1em;
  color: var(--text-primary) !important;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  margin-left: 40px;
}

.navigation-item a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  background-color: var(--text-primary);
  color: var(--text-primary);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation-item a.active-link::after {
  transform: scaleX(1);
  transform-origin: left;
}

.cryExch-nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mb-3 {
  padding-bottom: 1rem;
  background-color: var(--bgSecondary) !important;
}

.cryExch-navDropdownItem {
  display: inline-block !important;
  width: 100% !important;
  text-align: center !important;
  padding: 8px 16px !important;
  font-size: 16px !important;
  white-space: nowrap !important;
}

.website-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary);
}

.navigation-item {
  font-size: 1.1rem;
  margin-left: 20px;

  a {
    color: var(--text-primary);
    text-decoration: none;
  }

  &:hover {
    a {
      color: var(--bgSecondary);
      text-decoration: none;
    }
  }
}

.cryExch-nav-center {
  align-items: center;
}

.btnTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  margin-left: 20px;

  &:hover {
    color: var(--bgSecondary);
  }
}

.cryExch-navDropdownItem {
  color: var(--text-primary);

  &:hover {
    background-color: var(--bgSecondary);
    color: var(--text-primary);
  }
}

.active-link {
  color: var(--bgSecondary) !important;
  font-weight: bold;
}

.active-link:hover {
  text-decoration: none;
}

.btnLogin-popup {
  background-color: var(--bgSecondary);
  border-radius: 4px;

  a {
    color: var(--text-primary);
  }

  &:hover {
    a {
      color: var(--text-primary);
    }
  }
}

@media (max-width: 696px) {
  .navigation-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .btnTheme {

    margin-left: 0;
    margin-bottom: 10px;
  }
}