.footer {
  background-color: var(--bgSecondary);
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .footer-text {
    margin: 0;
    line-height: 1.4;
    color: var(--pink);

  }
}
